<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<body>
    <header>
        <h1>Wet & Regelgeving</h1>
        <form id="search" action="/zoeken" method="post">
            <label for="search"></label>
            <textarea id="search" name="search" placeholder="Zoeken op naam"></textarea>
            <input type="submit" value="Zoeken">
            <label for="category">Bron:</label>
            <select id="category" name="category">
                <option value="Alles">Alles weergeven</option>
                <option value="besluit">Besluit</option>
                <option value="euVerordening">EU Verordening</option>
                <option value="euRichtlijnen">EU Richtlijnen</option>
                <option value="regelingen">Regelingen</option>
                <option value="wet">Wet</option>
            </select>
        </form>
    </header>

    <main>
        <!-- Pinned -->
        <% if (locals.pinned != undefined && locals.pinned.length > 0) { %>
            <header><h1>Pinned</h1></header>
            <section>
                <% for (let i = 0; i < pinned.length; i++) { %>
                    <!-- let link = pinned[i].id.replace(/ /g, "_"); %> -->
                    <a href="/pinned/<%= pinned[i].article_id %>">
                        <h3>Pin</h3>
                    </a>
                    <a href="/artikel/<%= pinned[i].id %>">
                        <article>
                            <h2><%= pinned[i].id %></h2>
                        </article>
                    </a>
                <% } %>
            </section>
        <% } %>

        <!-- Articles -->
        <header><h1>Articles</h1></header>
        <section>
            <% for (let i = 0; i < articles.length; i++) {
                let link = articles[i].title.replace(/ /g, "_"); %>
                <a href="/pinned/<%= articles[i].id %>">
                    <h3>Pin</h3>
                </a>
                <a href="/artikel/<%= link %>">
                    <article>
                        <h2><%= articles[i].title %></h2>
                    </article>
                </a>
            <% } %>
        </section>

    </main>
</body>